.points-container {
  position: relative;
  width: 350px;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px dotted rgb(184, 184, 184);
}

.star-img img {
  width: 150px;
}

.points .counter {
  font-weight: bold;
  font-size: 3rem;
}
